.dashboard .search {
    margin: 10px;
    border-radius: 10px;
    min-height: 71vh;
    width: 100%;
    height: 90%;
    /* Añadimos scrollbar */
    overflow-y: auto;
    /* Eliminamos scrollbar horizontal */
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search #resultados {
    display: flex;
    align-items: center;
    justify-content: center;
}