.dashboard {
    display: flex;
    margin-top: 3px;
    justify-content: center;
    height: 73.5vh; /* Maintain the desired height */
    border-radius: 10px;
    background-color: var(--color-barra-lateral);
    align-items: center;
}
.dashboard .profile {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    min-height: 96%;
    width: 70%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.profile .header {
    display: flex;
    top: 0;
    height: 40%;
    width: 100%;
    padding: 40px;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    background-image: url("../img/WWX1.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.profile .header .edit {
    position: relative;
    height: 20px;
    width: 60px;
    left: 95%;
    top: -20%;
    border-radius: 5px;
    border: 0;
    background-color: rgb(206, 125, 163);
    color: white;
}

.profile .header .edit:hover {
    background-color: rgb(185, 48, 112);
    cursor: pointer;
}

.profile .header .avatar {
    position: relative;
    top: 50%;
    left: -8%;
    width: 150px;
    height: 150px;
    z-index: 20;
    display: flex;
    gap: 20px;
}

.avatar img {
    border-radius: 50%;
    outline: 3px solid white;
}

.avatar .country-select {
    position: absolute;
    top: 80%;
    left: 5%;
    z-index: 30;
    outline: 2px solid white;
    transform: scale(1.2);
    border-radius: 2px;
}

.avatar .country-select .flag {
    border-radius: 2px;
}

.feed .button-group h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Tektur", sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
}

.profile .header .avatar .info-usuario {
    color: var(--color-texto);
    margin-top: -20px;
    display: flex;
    gap: 20px;
    font-family: "Tektur", sans-serif;
    font-weight: 600;
    align-items: center;
}

.profile .header .avatar .role {
    border: 2px solid rgb(226, 154, 217);
    border-radius: 10px;
    padding: 3px;
    margin-left: 5px;
    color: var(--color-texto-menu);
    background-color: rgba(230, 230, 230, 0.671);
    font-size: 15px;
}

.profile .header .avatar .nickname {
    font-size: 25px;
    display: flex;
}

.profile .header .avatar .nick-user {
    text-shadow: 2px 1px 6px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    -webkit-text-stroke: 0.5px black;
}

.header .level {
    border: 2px solid green;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 900;
    color: rgb(154, 230, 154);
    background-color: rgba(230, 230, 230, 0.486);
}

.header .life-bar {
    background-color: rgb(120, 219, 120); /* Color de la barra de vida */
    height: 100%;
    display: flex; /* Habilita Flexbox */
    justify-content: center;
    align-items: center; /* Centra el contenido verticalmente */
    color: rgb(48, 34, 54);
    font-size: 1em;
    white-space: nowrap;
}

.user-details {
    height: 100%;
    font-family: "Tektur", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user-details .bio {
    min-height: 40%;
    width: 100%;
    display: flex;
    overflow: hidden;
}
.user-details .bio .text {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
}
.user-details .languages {
    padding-top: 7%;
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-left: 3%;
    text-align: justify;
}

.user-details .stats {
    height: 50%;
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: center;
}

.user-details .stats .languages {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;

}
.user-details .stats .logs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
}

.user-details .follow {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.user-details .divider {
    color: var(--color-linea);
}

.user-details .v {
    border: 0; /* Remove the default border */
    border-left: 1px solid var(--color-linea); /* Add a custom top border for the line */
}

.user-details .separator {
    width: 100%; /* Adjust the width as needed */
    border: 0; /* Remove the default border */
    border-top: 1px solid var(--color-linea); /* Add a custom top border for the line */
}