<IfModule mod_rewrite.c>
    # Activar el módulo de reescritura
    RewriteEngine On

    # Establecer la base para las reescrituras
    RewriteBase /LinguaLair/

    # Regla para eliminar index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>