.dashboard {
    height: 74.5vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.dashboard .achievements {
    margin: 10px;
    border-radius: 10px;
    min-height: 71vh;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    overflow-y: auto;
    outline: var(--border);
}
.achievement-list {
    background-color: var(--color-barra-lateral);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    outline: var(--border);
    margin-top: 10px;
}

.achievement-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.achievement-item:last-child {
    border-bottom: none;
}

.achievement-icon {
    font-size: 2em;
    margin-right: 15px;
    text-align: center;
}

.achievement-details {
    flex-grow: 1;
}

.achievement-title {
    color: var(--title-text);
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.achievement-item ion-icon {
    color: var(--title-text);
}

.achievement-description {
    color: #777;
    margin: 0;
    margin-bottom: 8px;
    font-size: 0.9em;
}
.achievement-level {
    border: 2px dotted var(--level);
    border-radius: 5px;
    padding: 0 2px;
    color: var(--level);
    text-align: center;
}

.achievement-date {
    color: #999;
    font-size: 0.8em;
    margin-left: auto;
}
.button-group h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    font-family: "Tektur", sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
}

.no-notifs {
    text-align: center;
    color: var(--color-texto);
}