.dashboard .feed {
    margin: 10px;
    border-radius: 10px;
    min-height: 96%;
    width: 70%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dashboard .feed .event {
    border-radius: 10px;
    min-height: 150px;
    width: 600px;
    margin: 10px;
    background-color: var(--color-barra-lateral);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Tektur", sans-serif;
    font-weight: 600;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.dashboard .feed .event:hover {
    transform: scale(1.05);
}
.dashboard .feed .button-group {
    margin: 5px;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
}
.event .usuario {
    padding: 10px;
    background-color: rgb(204, 204, 204);
    justify-content: space-between;
    align-items: center;
}
.log-user {
    display: inline-flex;
}
.event-info {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.event-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.event .exchange-type {
    height: 30px;
    background-color: darkslateblue;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event .event-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.event .event-type {
    outline: 2px dotted rgb(94, 190, 194);
    padding: 0 6px;
    background-color: rgb(235, 235, 235);
    border-radius: 7px;
}
.event-info .log-row {
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
}
.usuario .log-date, .usuario .duration {
    text-align: center;
}
.log-row .description {
    align-items: center;
    text-align: justify;
    border: 2px dotted gray;
    flex: 1;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.event-info .language, .event-info .type {
    height: 30px;
    background-color: darkslateblue;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 10px;
    color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-info .type span::first-letter {
    text-transform: uppercase;
}
.event-info .log-column {
    flex-direction: column;

}
.log-row .type {
    background-color: cadetblue;
    margin-top: 5px;
}
.post-date {
    text-align: center;
    font-size: 15px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-date ion-icon {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1px;
    padding: 1px;
}
.post-date .log_options_btn:hover {
    background-color: #555;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
.hidden {
    display: none;
}